    @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

    :root {
    --font: "Outfit", sans-serif;
    --accentColor: #ED0154;
    --primaryColor: #221F3D;
    --secondaryColor: #1D1B28;
    --spacing200: 1.5rem; /* 24px */
    --spacing400: 3rem; /* 48px */
  }

/*---------------------Start CSS Reset---------------------*/

  /* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

/*---------------------Start Custom CSS---------------------*/

  * {
    font-family: var(--font);
  }

  a {
    text-decoration: none;
  }

  body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background: linear-gradient(180deg, rgba(34,31,61,1) 0%, rgba(29,27,40,1) 100%);
    height: 100vh;
    overflow: hidden;
  }

  .pageWrapper {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgba(34,31,61,1) 0%, rgba(29,27,40,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    scrollbar-width: none;
  }

  .decorationWrapper {
    position: absolute;
    width: 100%;
    max-width: 1000px;
    pointer-events: none;
  }

  .decorationWrapper img {
    width: 100%;
    filter: drop-shadow(0px 5px 0px var(--secondaryColor));
  }

  .left {
    bottom: -35%;
    left: -40%;
  }

  .right {
    top: -25%;
    right: -50%;
  }

  .bottom {
    z-index: 1;
  }

  .top {
    z-index: 5;
  }

  .card {
    background: linear-gradient(0deg, rgba(34,31,61,0) 0%, rgba(123,18,71,0.2) 44%, rgba(237,1,84,0.5) 100%);
    border-radius: 20px;
    width: 90%;
    max-width: 400px;
    margin: var(--spacing200);
    padding: var(--spacing400) var(--spacing200);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing200);
    box-shadow: 0px 8px 0px 0 var(--accentColor);
    backdrop-filter: blur(8px);
    z-index: 3;
    transition: all 0.2s ease;
  }

  /* .card:hover {
    transform: scale(1.05);
  } */

  .imgWrapper {
    width: min(90%, 100px);
    transition: all 0.2s ease;
  }

  .imgWrapper img {
    width: 100%;
    transition: all 0.2s ease;
  }

  .imgWrapper:hover {
    transform: scale(1.2) translate(0, -5px);
    filter:drop-shadow(0px 5px 0px var(--secondaryColor));

  }

  .copyWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.75rem;
    width: 100%;
  }

  .copyWrapper h1 {
    color: #fff;
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.5;
    transition: all 0.2s ease;
  }

  .copyWrapper h2 {
    color: var(--accentColor);
    filter: drop-shadow(0px 2px 0px var(--secondaryColor));
    font-size: 0.9rem;
    font-weight: 400;
    text-transform: uppercase;
  }

  .buttonWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    margin-top: 1rem;
  }

  .button {
    background: var(--secondaryColor);
    background-size: 400%;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 0.75rem;
    font-weight: 400;
    width: 100%;
    transition: all 0.2s ease;
    text-align: center;
    text-transform: uppercase;
  }

  .button:hover {
    background: var(--accentColor);
    color: var(--primaryColor);
    font-weight: 700;
    filter:drop-shadow(0px 0px 10px var(--accentColor)); 
    transform: translate(0, -5px);
  }

  .button:hover:before {
    filter: blur(20px);
    opacity: 1;
  }

  @media (min-width: 768px) {

    .right {
      top: -50%;
      right: -18%;
    }

    .left {
      bottom: -50%;
      left: -15%;
    }

  }
