    @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

    :root {
    --font: "Outfit", sans-serif;
    --accentColor: #ED0154;
    --primaryColor: #221F3D;
    --secondaryColor: #1D1B28;
    --spacing200: 1.5rem; /* 24px */
    --spacing400: 3rem; /* 48px */
  }

/*---------------------Start CSS Reset---------------------*/

  /* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

/*---------------------Start Custom CSS---------------------*/

  * {
    font-family: var(--font);
  }

  a {
    text-decoration: none;
  }

  .pageWrapper {
    width: max(100vw, 100%);
    height: max(100dvh, 100%);
    background: rgb(34,31,61);
    background: linear-gradient(180deg, rgba(34,31,61,1) 0%, rgba(29,27,40,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    scrollbar-width: none;
  }

  .decorationWrapper {
    position: absolute;
    width: min(400px, 40%);
  }

  .bottomLeft {
    bottom: -50%;
    left: -50%;
  }

  .bottomRight {
    bottom: -50%;
    right: -50%;
  }

  .topLeft {
    top: -50%;
    left: -50%;
    z-index: 5;
  }

  .topRight {
    top: -50%;
    right: -50%;
    z-index: 5;
  }

  .card {
    background: rgb(34,31,61);
    background: linear-gradient(0deg, rgba(34,31,61,0) 0%, rgba(123,18,71,0.2) 44%, rgba(237,1,84,1) 100%);
    border-radius: 20px;
    width: min(600px, 100%-3em);
    margin: var(--spacing200);
    padding: var(--spacing200);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing200);
    box-shadow: 0px 8px 0px 0 var(--accentColor);
    backdrop-filter: blur(8px);
    z-index: 3;
  }

  .imgWrapper {
    width: 50%;
  }

  .imgWrapper img {
    width: 100%;
  }

  .copyWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
  }

  .copyWrapper h1 {
    color: #fff;
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.5;
    transition: all 0.2s ease;
  }

  .copyWrapper h2 {
    color: var(--accentColor);
    font-size: 1rem;
    font-weight: 400;
  }

  .buttonWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    margin-top: 1rem;
  }

  .button {
    background: var(--secondaryColor);
    background-size: 400%;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 0.75rem;
    font-weight: 400;
    width: 100%;
    transition: all 0.2s ease;
    text-align: center;
    text-transform: uppercase;
  }

  .button:hover {
    background: var(--accentColor);
    color: var(--primaryColor);
    font-weight: 700;
    box-shadow: 0px 0px 10px var(--accentColor); 
    transform: translate(0, -5px);
  }

  .button:hover:before {
    filter: blur(20px);
    opacity: 1;
  }
